@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants database!</h1>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurant")</p> 
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisine")</p>
